.container {
  display: flex;
  /*justify-content: center;*/
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 100vh;
  overflow: auto; /* Allow scrolling */
  position: relative;
  background-color: white;
}

.image {
  width: auto; /* Make it responsive */
  height: 100vh; /* Full viewport height */
  object-fit: cover;
  cursor: crosshair;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.coordinates {
  min-width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  gap: 5px;
  top: 0; /* Position 50% from the top of the parent */
  left: 50%; /* Position 50% from the left of the parent */
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.coordinates h2 {
  margin: 0;
  padding-bottom: 20px;
}

.dialogPaper {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  background-color: #f4f4f4;
  padding: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.customBackdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(0px);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.MuiBackdrop-root.MuiModal-hidden {
  background-color: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(0px);
}

.dialogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialogContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label,
.input:focus {
  color: #05060fc2;
}
.characterImg {
  display: flex;
  gap: 5px;
}
@media (min-width: 1350px) {
  .container {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .coordinates {
    flex-direction: column;
  }
  .coordinates h2 {
    padding-bottom: 0px;
  }
}
