.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background: url('../../assets/waldo-first.jpg') no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.homepage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background: url('../../assets/waldo-5.jpg') no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.homepage3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background: url('../../assets/waldo-4.jpg') no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.homepageText {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.mapName {
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.carousel {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.startButton {
  margin-bottom: 10vh;
}

.card {
  max-width: 60vw;
  height: 80vh;
  text-align: justify;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5vh;
  color: white;
  background: #3c3c3c;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 950px) {
  .card {
    max-width: 85vw;
  }
}

@media (max-width: 650px) {
  .card {
    font-size: 12px;
  }
  .homepageText {
    margin-bottom: 5px;
  }
}

@media (max-width: 450px) {
  .card {
    font-size: 10px;
  }
  .homepageText {
    margin-bottom: 5px;
  }
}
