.inactive {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 162px;
  overflow: hidden;
}

.inactive img {
  width: 250px;
  height: auto;
  opacity: 0.5;
  transition: transform 1s ease, opacity 1s ease;
}

.active img {
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .inactive img,
  .active img {
    width: 30vw;
  }

  .inactive {
    height: auto;
  }
}

@media (max-width: 480px) {
  .inactive img,
  .active img {
    width: 25vw;
  }
}
